doctype html
html(lang="ja")
	head
		title= "kdxu.github.io"
		link(rel='stylesheet' type='text/css' href='main.css')
	body
		h1 kdxu.github.io
			h2 About me
				ul
					li Kyoko Kadowaki(門脇 香子)
					li Application Engineer
					li Member of 
						a(href='http://etahapi.github.io') etahapi-cipher
			

				
      
